@import '../src/client/theme/index.css';

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 68%;
    position: relative;
    margin:0 auto;
    display: inline-block;
    background-color: #D2DADF;
    border: 1px solid #397A94;
    top: 46px;
    height: 600px;
    min-width: 600px;
}

.footer {
    position: absolute;
    padding: 0 10px 0 10px;
    display: flex;
    bottom:10px;
    width:96%;
}

.textMassage {
    max-width: 1000px;
    min-width: 620px;
    margin-right: 20px;
    padding: 2px 30px 2px 10px;
    height:70px;
    font-size: 18px;
    outline: none;
    border: 1px solid transparent;
    resize: none;
}
.textMassage:focus {
    border:1px solid var(--color-active);
}

.massageField {
    width: 100%;
    height: 85%;
    position: relative;
    overflow: auto;
    margin: 0 auto;
    scrollbar-width: none;
}

.footer__send {
    height:75px;
    margin-left: 20px;
}

.btn {
    border: 0;
    background-color: var(--color-btnHover);
    color: #fff;
    width: 35%;
    text-transform: uppercase;
    border-radius: 16px; display:inline-block;
    cursor: pointer;
}