.getEmojiButton {
     cssFloat: right;
     border: none;
     margin: 0;
     cursor: pointer;
     position: relative;
     /*right: 185px;*/
 }

.emojiPicker {
    position: absolute;
    bottom: 10px;
    right: 0;
    cssFloat: right;
    marginLeft: 200px;
}