@import '../src/client/theme/index.css';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-color: var(--color-body);
    margin: 15px auto;
    width: 80%;
    height: 90%;
    border: var(--color-border);
    box-shadow: 0 0 5px var(--color-shadow);
    min-height: 735px;
}

.modal {
    z-index: 1002;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 250px;
    width: 500px;
    height: 270px;
    position: absolute;
    box-shadow: 0 0 5px #000;
    background-color: var(--color-loginBackground);
}