@import '../src/client/theme/index.css';

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__wrapper {
    display:flex;
    justify-content: space-between;
}

.header {
    background-color: var(--color-fieldButtons);
    color: #fff;
}

.header__wrapper {
    display:flex;
    justify-content: space-between;
    padding:10px;
}

.logout {
    text-decoration: none;
    text-align: center;
}

.btn_logout {
    border: 0;
    background-color: var(--color-btnHover);
    color: #fff;
    width: 10%;
    text-transform: uppercase;
    border-radius: 16px; display:inline-block;
    cursor: pointer;
    padding-top: 10px;
}