html {
    --color-01:#35A298;
    --color-03:#d1dae8;
    --color-04:#000000;
    --color-05:#8080b4;
    --color-07:#e3e3f7;
    --color-10:#9e9e9e;
    --color-11:#cccccc;
    --color-12:#ffffff;
    --color-13:#676793;
    --color-14:#f9f9f9;
    --color-15:#161633;
    --color-16:#2c4451;
    --color-17:#212147;
    --color-18:#333333;
    --color-19:#383875;
    --color-20:#212147;
    --color-21:'☀️';
    --color-22:'🌙';
}